$primary-color: #00474b;
$secondary-color: #26c2ad;
$white-shade: #f3f8fb;
$text-color-light: #9fb3b2;
$text-color: #5d6b6c;
$splitter-white: #feffff;
$light-blue:#2CC0AD;
$error:red;
$reset-background:#0D686D;
$reset-filled:#25C2AD;
